#splash {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
    font: 16px sans-serif;
    text-align: center;
}

#splash a:link, #splash a:visited {
    color: forestgreen;
}

#splash a:active, #splash a:hover {
    color: darkgreen;
}

#loading-message, #splash a {
    margin-top: 30px;
}

.dot-1 {
    animation: dotty1 steps(1,end) 1s infinite;
}

.dot-2 {
    animation: dotty2 steps(1,end) 1s infinite;
}

.dot-3 {
    animation: dotty3 steps(1,end) 1s infinite;
}

@keyframes dotty1 {
    0%   { color: white; }
    25%  { color: black; }
    50%  { color: black; }
    75%  { color: black; }
    100% { color: white; }
}

@keyframes dotty2 {
    0%   { color: white; }
    25%  { color: white; }
    50%  { color: black; }
    75%  { color: black; }
    100% { color: white; }
}

@keyframes dotty3 {
    0%   { color: white; }
    25%  { color: white; }
    50%  { color: white; }
    75%  { color: black; }
    100% { color: white; }
}